.grid {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 50px;
}

.grid-gap-small {
    gap: 40px;
}

.tab {
    margin-top: 80px;
    font-size: 1.25rem;
    background: none;
	border: none;
	cursor: pointer;
}

.active-tab {
    padding-bottom: 10px;
    border-bottom: 3px solid #00b21d;
    background: none;
	cursor: pointer;
}