.grid {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.grid-vertical {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.grid-gap-small {
    gap: 20px;
}

.content-area {
    flex-basis: 80%;
    font-family: sans-serif;
}

.title {
    margin-top: 80px;
    font-size: 1.5rem;
    align-items: center;
}

.form {
    font-family: sans-serif;
    background-color: #E5E5E5;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    margin-top: 150px;
    width: 75vw;
    height: 75vh;
    padding: 20px 0px 0px 0px;
    overflow-y: scroll;
}

.username {
    font-weight: bold;
    font-size: 1.25rem;
}

.score-card {
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px 50px;
}

.score-details {
    margin: 0px 10px;
    padding: 0px 20px;
    border-left: 2px solid #8F8F8F;
    align-items: flex-start;
}

.score-badge {
    background: #FF0000;
    border-radius: 10px;
    padding: 10px 20px;
}

.score {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

.score-label {
    color: #fff;
    font-size: 1.25rem;
}