.layout {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    gap: 50px;
}

.section {
    display: flex;
    justify-content: center;
    flex-basis: 80%;
}

.logo {
    margin-top: 150px;
    align-content: center;
}

.user-selector {
    color: #B7B7B7;
    align-content: center;
    border-radius: 5px;
}