.layout {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 30px;
}

.section {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-basis: 80%;
}

.logo {
    margin-top: 35px;
    align-content: center;
}